html, body {
  width: 100%;
  border: 1px solid black;
}

.navbar {
  border-bottom: 2px solid black;
  margin-right: -1px;
  background-color: #CCCCCC;
}

#p1 {
  font-size: 18px;
  padding-top: 5px;
}

#p2 {
  margin-left: 20px;
  margin-right: 20px;
  }

.navbar-brand {
  font-size: 30px;
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
}

section {
  background-color: #A9A9A9;
  margin: 15px;
}

a.chicken {
  border-bottom: 2px solid black;
}

a.beef {
  border-bottom: 2px solid black;
}

@media (max-width: 767px) {
  #navbar {
  border-top: 2px solid black;
  }
  .collapse {
    background-color: white;
   }
}






